* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  text-align: center;
  background-color: bisque;
  width: 500px;
  height: 100%;
  margin: 100px auto;
  padding-top: 30px;
}
table {
  border-collapse: collapse;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}
